.split
  .split-item.split-left
    = render "posts/left-index"
  .split-item.split-right
    .split-right__inner
      .contents-box
        %p.user-post
          = @nickname
          さんのコレクション一覧
        .display-box
          .display-inbox1#inbox1
            - @posts.each do |post|
              .content_post-mypage#contents{:style => "background-image: url(#{post.image});"}
          .display-inbox2#inbox2
          .display-inbox2#inbox2
          .display-inbox2#inbox2
        = paginate(@posts)

