.split
  .split-item.split-left
    = render "posts/left-index"
  .split-item.split-right
    .split-right__inner
      .contents.row
        %p
          = @nickname
          さんの投稿一覧
        .display-box
          - @posts.each do |post|
            .display-inbox
              .display-inbox2
                .content_post-mypage{:style => "background-image: url(#{post.image});"}
                  = simple_format(post.text)
          -# = paginate(@posts)
