.split
  .split-item.split-left
    = render "posts/left-index"
  .split-item.split-right
    .split-right__inner
      .contents.row
        .success
          %h3
            投稿が完了しました。
          %a.create-btn{:href => "/posts"} 投稿一覧へ戻る

