.split
  .split-item.split-left
    = render "posts/left-index"
  .split-item.split-right
    .split-right__inner
      .contents-box-
        .howtouse-logo
          Collecolle
        .howtouse-subscribe
          自慢のコレクションをシェア&管理しよう
        .howtouse-description-picbox
          .post-pic
          
          .show-pic