.split
  .split-item.split-left
    = render "posts/left-index"
  .split-item.split-right
    .split-right__inner
      .contents-box-
        .howtouse-logo
          Collecolle
        .howtouse-subscribe
          自慢のコレクションをシェア&管理しよう
        .howtouse-description-picbox
          .post-pic-box
            .post-pic
            .post-text
              投稿する（写真データ）
          .show-pic-box
            .show-pic
            .show-text
              マイページで管理