<div class= "icon-bar">
  <div class= "icons">
    <div class= "icon icon1">
      <div class="box1"><i class="fas fa-walking fa-2x my-health"></i></div>
      <div class= "genre">健康</div>
    </div>


    <div class= "icon icon2">
    <div class="box1"><i class="fas fa-users fa-2x my-hobby"></i></div>
      <div  class= "genre">趣味</div>
    </div>
    <div class= "icon icon3">
      <div class="box1"><i class="fas fa-paw fa-2x my-pet"></i></div>
      <div  class= "genre">ペット</div>
    </div>
    <div class= "icon icon4">
      <div class="box1"><i class="fas fa-mountain fa-2x my-view"></i></div>
      <div  class= "genre">風景</div>
    </div>
    <div class= "icon icon5">
      <div class="box1"><i class="fas fa-plane fa-2x my-travel"></i></div>
      <div  class= "genre">旅行</div>
    </div>
    <div class= "icon icon6">
      <div class="box1"><i class="fas fa-utensils fa-2x my-food"></i></div>
      <div  class= "genre">食べ物</div>
    </div>
  </div>
</div>

<div class= "main">
  <div class= "contents">
    <div class= "contents-box">
      <% @posts.each do |post| %>
        <%= render partial:"post",locals: { post: post } %>
      <% end %>
      <%= paginate(@posts) %>
    </div>
  </div>
</div>

<footer>
  <p>
    Copyright HAJIME 2020.
  </p>
</footer>
