.split
  .split-item.split-left
    .split-left__inner
      %header.header
        .header__nav
          .header__nav__title Collecolle
          .header__nav__mypage マイページ
          .header__nav__post 投稿する
          .header__nav__login ログイン
          .header__nav__logout ログアウト
      .main-icons
        .icon-box
          %i.fas.fa-robot
          %i.fas.fa-book
          %i.fas.fa-music
          %i.fas.fa-tshirt
          %i.fas.fa-couch
          %i.fas.fa-running
          %i.fas.fa-tv
          %i.fas.fa-palette
          %i.fas.fa-feather-alt
      %footer.footer
        %p
          Copyright Collecolle 2020.
  .split-item.split-right
    .split-right__inner
      .contents-box
        - @posts.each do |post|
          = render partial:"post",locals: { post: post }
        = paginate(@posts)
        %p{:style => "height:200px; width:100%;"}
  .howtouse-hajime


  



















  


