.split
  .split-item.split-left
    = render "posts/left-index"
  .split-item.split-right
    .split-right__inner
      .contents.row
        .success
          %h3
            更新が完了しました
          %a.update-btn{:href => "/"} 投稿へ戻る
