.split
  .split-item.split-left
    = render "posts/left-index"
  .split-item.split-right
    .split-right__inner
      .contents-box
        - @posts.each do |post|
          = render partial: "posts/post", locals: { post: post }

