.howtouse-logo{
  color: #EA5704;
  font-size: 30px;
  text-align: center;
  margin-top: 2%;
}
.howtouse-subscribe{
  font-size: 35px;
  text-align: center;
  margin-top: 3%;
  color: rgb(75, 73, 73);
  font-family: "Helvetica Neue", "ヒラギノ角ゴ Pro W6", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", YuGothic, sans-serif;
}
.howtouse-description-picbox{
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .login-pic-box{
    height: 40%;
    width: 45%;
    margin-right: 5%;
    .login-pic{
      height: 100%;
      width: 100%;
      background-image: image-url("login.png");
      background-size: cover;
      background-position: center center;
      border: 0.5px solid #EA5704;
      margin-right: 5%;
    }
    .login-text{
      text-align: center;
      color: rgb(75, 73, 73);
      font-size: 20px;
      margin-top: 5%;
    }
    ul{
      text-align: left;
      margin-top: 3%;
      color: rgb(75, 73, 73);
      li{
        font-size: 15px;
      }
    }
  }
  .post-pic-box{
    height: 40%;
    width: 45%;
    .post-pic{
      height: 100%;
      width: 100%;
      background-image: image-url("post.png");
      background-size: cover;
      background-position: center center;
      border: 0.5px solid #EA5704;
    }
    .post-text{
      text-align: center;
      color: rgb(75, 73, 73);
      font-size: 20px;
      margin-top: 5%;
    }
    ul{
      text-align: left;
      margin-top: 3%;
      color: rgb(75, 73, 73);
      li{
        font-size: 15px;
      }
    }
  }
  .show-pic-box{
    height: 40%;
    width: 45%;
    margin-right: 5%;
    margin-top: 30%;
    .show-pic{
      height: 100%;
      width: 100%;
      background-image: image-url("show.jpg");
      background-size: cover;
      background-position: center center;
      border: 0.5px solid #EA5704;
    }
    .show-text{
      text-align: center;
      color: rgb(75, 73, 73);
      font-size: 20px;
      margin-top: 5%;
    }
    ul{
      text-align: left;
      margin-top: 3%;
      color: rgb(75, 73, 73);
      li{
        font-size: 15px;
      }
    }
  }
  .edit-pic-box{
    height: 40%;
    width: 45%;
    margin-top: 30%;
    .edit-pic{
      height: 100%;
      width: 100%;
      background-image: image-url("edit.jpg");
      background-size: cover;
      background-position: center center;
      border: 0.5px solid #EA5704;
    }
    .edit-text{
      text-align: center;
      color: rgb(75, 73, 73);
      font-size: 20px;
      margin-top: 5%;
    }
    ul{
      text-align: left;
      margin-top: 3%;
      color: rgb(75, 73, 73);
      li{
        font-size: 15px;
      }
    }
  }
}
