.icon-bar{
  display: flex;
  background-color: #FBF8E9;;
  height: 60px;
  position: fixed;
  top: 60px;
  z-index: 98;
  width: 100%;
  
  .icons{
    display: flex;
    margin: 0 auto;
    color: #4E2F14;
    .icon {
      margin: 5px 10px 5px 20px;
      line-height: 50px;
      width: 140px;
      text-align: center;
      font-size: 15px;
      background-color: white;
      border-radius: 7px;
      position: relative;
      display: flex;
    }
    .icon1{
      
      .my-health{
        width: 50px;
        color: red;
      }
    }
    .icon2{
      .my-hobby{
        width: 50px;
        color: rgb(25, 55, 226);
      }
    }
    .icon3{
      .my-pet{
        width: 50px;
        color: rgb(214, 116, 3);
      }
    }
    .icon4{
      .my-view{
        width: 50px;
        color: rgb(30, 165, 75);
      }
    }
    .icon5{
      .my-travel{
        width: 50px;
        color: rgb(46, 184, 226);
      }
    }
    .icon6{
      .my-food{
        width: 50px;
        color: rgb(233, 143, 7);
      }
    }
    .box1{
      margin: 5px;
    }
    .genre{
      text-align: center;
      font-size: 20px;
    }
  }
}

.main{
  width: 100%;
  height: auto;
  background-color: #FBF8E9;;
  margin-top: 120px;

  .contents{
    height: 100%;
    width: 1200px;    
    z-index: 10;
    .contents-box{
      padding: 30px;
      .contents_post{
      width: 400px;
      height: 300px;
      margin: 20px 0;
      padding: 30px;
      color: #fff;
      background-size: 400px 300px;
      border-radius: 3px;
      box-shadow: 0 0 10px rgba(41,41,41,0.2);
      }
    }
  }
}
